h1 {
    color: rgb(255, 225, 0);
    background-color: #000;
}

.voltar img {
    height: 22px;
}

.voltar a {
    background: #000000;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.corpo {
    background: rgb(123, 123, 65);
    color: beige;
    border-radius: 20px;
}

.fundo {
    background-image: url("../img/cidade.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
    border: 10px dotted yellow;
}

.fundo1 {
    background-image: url("../img/fundo.jpg");
    background-position: left;
    background-repeat: repeat;
    background-size: contain;
    width: auto;
    height: 500px;
    border: 10px dashed green;
}

.fundo11 {
    background-image: url("../img/fundo.jpg");
    background-color: #000;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 500px;
    border: 10px groove gray;
}

.fundo2 {
    background: gray url("../img/natureza.jpg") no-repeat center;
    background-size: cover;
    width: 500px;
    height: 750px;
    border: 10px solid;
}

.fundo3 {
    background: rgb(255, 0, 0) url("../img/natureza.jpg") no-repeat center;
    background-size: cover;
    width: 500px;
    height: 750px;
    border: 10px ridge rgb(252, 0, 0);
}

.fundo4 {
    background: gray url("../img/natureza.jpg") no-repeat center;
    background-size: cover;
    width: 500px;
    height: 750px;
    border: 10px inset rgb(255, 0, 0);
    border-radius: 20px;
}

.fundo5 {
    background: gray url("../img/natureza.jpg") no-repeat center;
    background-size: cover;
    width: 500px;
    height: 750px;
    border: 10px outset rgb(255, 0, 0);
}