@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Strike&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;

}

h1 {
    color: rgb(255, 225, 0);
    background-color: #2F2F2F;
    padding: 6px 20px 6px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 35px;
    font-family: "Protest Strike", sans-serif;
    margin-top: 0px;
}

.corpo {
    background: rgb(123, 123, 65);
    color: beige;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1320px;
    font-weight: bold;
}



.voltar {
    background: #262626 center no-repeat;
    background-size: cover;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.img-link {
    width: 28px;
    height: auto;
    padding-top: 10px;

}

.voltar a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.voltar .redes-sociais {
    margin-left: 890px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.fundo {
    background: url("../img/cidade.jpg") bottom no-repeat;
    background-size: none;
    width: auto;
    height: 500px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}

.fundo1 {
    background-image: url("../img/fundo2.jpg");
    background-position: left;
    background-repeat: repeat;
    background-size: contain;
    width: auto;
    height: 500px;
    border: 10px;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.fundo11 {
    background-image: url("../img/fundo.jpg");
    background-color: #000;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    width: auto;
    height: 500px;
    border: solid #000 10px;
    border-radius: 10px;
    margin: 10px;
    max-width: 1320px;
}

.fundo11 p {
    color: white;
    margin-left: 780px;
    text-indent: 15px;
    line-height: 1.3;
    font-size: 15px;
}

.fundo2 img {
    width: 500px;
    height: 750px;
    border: 10px solid;
    margin-right: 60px;
    margin-left: 60px;
}

.fundo3 img {
    width: 500px;
    height: 750px;
    border: 10px red solid;
    border-radius: 20px;
}

.corpo2 {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}

.corpo2 h2 {
    background: #DB2218;
    font-size: 45px;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 5px;
    margin-left: 350px;
    margin-right: 350px;
}

.corpo2 h2:hover {
    padding: 8px;
}

.corpo2 h3 {
    font-size: 35px;
    line-height: 0.2;
    color: #130d37;
}

.corpo2 h3:hover {
    color: #000;
}

.espacamento {
    margin-left: 30px;
    line-height: 0.2;
    color: #130d37;
}

.espacamento:hover {
    color: black;
}

.menu h2 {
    background: #DB2218;
    font-family: "Protest Strike", sans-serif;
    font-size: 45px;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 5px;
    margin-left: 350px;
    margin-right: 350px;
}

.menu h2:hover {
    padding: 8px;
}

.grupo-botoes1 {
    text-align: center;
}

.grupo-botoes2 {
    text-align: center;
}

.grupo-botoes3 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;
}

.grupo-botoes4 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
}

.grupo-botoes5 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-left: 500px;
    margin-right: 500px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.botao1 {
    background: darkred;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

a.botao1:hover {
    background: rgb(255, 4, 4);
    padding: 12px;
    border-radius: 10px;
}

a.botao2 {
    text-decoration: none;
    padding: 10px;
    border: 5px double #130d37;
    color: #130d37;
}

a.botao2:hover {
    text-decoration: underline;
    padding: 8px;
    background: #130d37;
    color: white;
}

a.botao3 {
    color: rgb(254, 254, 254);
    text-decoration: none;
}

a.botao3:hover {
    border-bottom: 5px solid rgb(4, 2, 116);
}

a.botao4 {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

a.botao4:hover {
    font-size: 22px;
    font-weight: bold;
}

a.botao4-3 {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    border-bottom: 2px #ffffff solid;
}

a.botao4-3:hover {
    font-size: 24px;
    font-weight: bold;
}


.botao5 {
    width: 32px;
    height: 32px;
}

.botao5:hover {
    width: 50px;
    height: 50px;
}

footer {
    background: #333333;
    text-align: center;
    margin: 0px 0px;
    padding: 10px 0px;
    color: #fff;
}