@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Strike&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0 auto;
    background: #141414;
}

.topo {
    text-align: center;

    background: url("../img/fundoRoxo.jpg") center no-repeat;
    height: 150px;
    background-size: cover;
}

.topo h1 {
    font-size: 30px;
    color: rgb(255, 253, 253);
    margin: auto;
    font-family: "Protest Strike", sans-serif;
}

.topo h2 {
    font-size: 50px;
    color: rgb(226, 204, 7);
    border: solid;
    width: 900px;
    margin: auto;
    font-family: "Protest Strike", sans-serif;
}

.card-corpo {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.card-corpo .corpo {
    display: inline-block;
    width: 500px;
    background: #1F1F1F;
    border-radius: 20px;
    padding: 18px 20px;
}

.paragrafo {
    color: #fff;
}

article {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 20px 0;
}

article .menu {
    display: inline-block;
    width: 360px;
    background: #1F1F1F;
    padding: 30px 20px;
    border-radius: 20px;
}

article .menu ul {
    list-style-type: none;

}

article .menu .titulos {
    display: inline-block;
    text-align: center;
    width: 300px;
    padding-bottom: 30px;
}

article .menu h2 {
    font-size: 30px;
    color: #fff;
}

article .menu h3 {
    font-size: 20px;
    color: #C4F82A;
}

article .menu p {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    color: #B0B0B0;
    font-weight: 300;
    padding-bottom: 20px;
}

article .menu nav {
    max-height: 360px;
    overflow-x: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

article .menu a {
    display: inline-block;
    width: 300px;
    text-align: center;
    background: #333333;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 7px;
    margin: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-size: 12;
    font-weight: bold;
}

article .menu a:hover {
    background: #C4F82A;
    color: #333333;
    padding: 9px;
}

footer {
    background: #333333;
    text-align: center;
    margin: 0px 0px;
    margin-top: 10px;
    padding: 20px 0px;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #C4F82A;
}